node-red/tank-dashboard-flow.json
[
  {
    "id": "thermal-tab",
    "type": "tab",
    "label": "Thermal Tanks",
    "disabled": false,
    "info": "Thermal tank Supervisor dashboard v0.4.0\n\nPOST endpoint:   /thermal/ingest  (pushed by the thermal-analyzer container)\nThermal API:     flow.thermal_base (default resolved from hostname, override with THERMAL_API)\n\nGroups:\n  • Overview       — site header + deep link to operator console (:8080)\n  • Tanks          — per-tank KPI cards (level, ft, bbl, rate, ETA)\n  • Trends         — 24 h level & temperature history (high-confidence only)\n  • Alerts         — persisted out-of-band history (bounded 200 rows)\n  • Events         — raw ingest log (collapsed)\n\nBreaking changes vs v0.3:\n  • `ts` is ALWAYS milliseconds (publisher guarantees). No unit math.\n  • Iframe removed. Live stream lives at the operator console, not in NR.\n  • Per-tank KPI cards replace the single ui_gauge (which collapsed multi-topic).\n  • Handles new payload fields: `reading`, `geometry`, `calibration`, `medium_confidence`, `site_id`.\n"
  },
  {
    "id": "dash-tab",
    "type": "ui_tab",
    "name": "Thermal Tanks",
    "icon": "opacity",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "dash-group-overview",
    "type": "ui_group",
    "name": "Overview",
    "tab": "dash-tab",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dash-group-tanks",
    "type": "ui_group",
    "name": "Tanks",
    "tab": "dash-tab",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dash-group-trends",
    "type": "ui_group",
    "name": "Trends (24 h)",
    "tab": "dash-tab",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dash-group-alerts",
    "type": "ui_group",
    "name": "Alerts",
    "tab": "dash-tab",
    "order": 4,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dash-group-events",
    "type": "ui_group",
    "name": "Events",
    "tab": "dash-tab",
    "order": 5,
    "disp": true,
    "width": "12",
    "collapse": true
  },

  {
    "id": "inject-startup",
    "type": "inject",
    "z": "thermal-tab",
    "name": "on start",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 40,
    "wires": [["cfg-init"]]
  },
  {
    "id": "cfg-init",
    "type": "function",
    "z": "thermal-tab",
    "name": "Init thermal base",
    "func": "// Node-RED runs in Docker (bridge net) and CANNOT reach the host's 127.0.0.1:8080.\n// Default to the publicly-exposed CF subdomain for this Nucleus (N-1065).\n// Override via env THERMAL_API if you deploy elsewhere or run Node-RED on host network\n// (then use http://127.0.0.1:8080 or http://host.docker.internal:8080).\nconst base = env.get('THERMAL_API') || 'https://p8080-n-1065-d.datadesng.com';\nflow.set('thermal_base', base);\nflow.set('alerts', flow.get('alerts') || []);\nnode.status({ fill: 'green', shape: 'dot', text: base });\nreturn null;",
    "outputs": 1,
    "x": 330,
    "y": 40,
    "wires": [[]]
  },

  {
    "id": "http-ingest",
    "type": "http in",
    "z": "thermal-tab",
    "name": "POST /thermal/ingest",
    "url": "/thermal/ingest",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 120,
    "wires": [["ingest-process"]]
  },
  {
    "id": "http-response",
    "type": "http response",
    "z": "thermal-tab",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 700,
    "y": 80,
    "wires": []
  },
  {
    "id": "ingest-process",
    "type": "function",
    "z": "thermal-tab",
    "name": "Process ingest",
    "func": "const p = msg.payload;\nif (!p || !Array.isArray(p.tanks)) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'expected {ts, site_id, tanks:[...]}' };\n    return [null, null, null, null, msg, null, null];\n}\n\n// publisher.py v0.4+ ALWAYS sends `ts` as epoch-ms (int). No unit math.\nconst ts = typeof p.ts === 'number' ? p.ts : Date.now();\np.ts = ts;\nflow.set('latest', p);\nflow.set('latest_ts', ts);\n\n// Fan-out:\n//   [0] tank-cards  -> full payload (template renders all tanks)\n//   [1] chart-level -> {topic,name, payload:level_pct} per tank, high-conf only\n//   [2] chart-temp  -> {topic, payload:temp_avg} per tank, always\n//   [3] alerts      -> each tank for alert-guard\n//   [4] http response\n//   [5] events summary\n//   [6] overview header (site_id + calibration status)\nconst charts = [];\nconst temps  = [];\nconst alerts = [];\nfor (const t of p.tanks) {\n    const topic = t.name || t.id;\n    if (t.confidence === 'high' && typeof t.level_pct === 'number') {\n        charts.push({ topic, payload: t.level_pct });\n    }\n    if (typeof t.temp_avg === 'number') {\n        temps.push({ topic, payload: t.temp_avg });\n    }\n    alerts.push({ topic, payload: t.level_pct, _tank: t });\n}\n\nconst cards = { payload: p };\nconst header = {\n    payload: {\n        site_id: p.site_id || 'unknown',\n        ts,\n        n: p.tanks.length,\n        calibration: (p.tanks[0] && p.tanks[0].calibration) || null\n    }\n};\nconst summary = {\n    payload: {\n        n: p.tanks.length,\n        ts: new Date(ts).toISOString().replace('T',' ').slice(0,19) + 'Z'\n    }\n};\n\nmsg.statusCode = 200;\nmsg.payload = { ok: true, n: p.tanks.length };\nreturn [cards, charts, temps, alerts, msg, summary, header];",
    "outputs": 7,
    "x": 370,
    "y": 120,
    "wires": [
      ["tpl-tank-cards"],
      ["chart-level"],
      ["chart-temp"],
      ["alert-guard"],
      ["http-response"],
      ["events-text"],
      ["tpl-overview"]
    ]
  },

  {
    "id": "tpl-overview",
    "type": "ui_template",
    "z": "thermal-tab",
    "group": "dash-group-overview",
    "name": "Site header",
    "order": 1,
    "width": 12,
    "height": 2,
    "format": "<style>\n.ov{display:flex;align-items:center;justify-content:space-between;gap:16px;padding:12px 16px;color:#e6e6e6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif}\n.ov .l{display:flex;align-items:center;gap:14px;min-width:0}\n.ov .l .site{display:flex;flex-direction:column;min-width:0}\n.ov .l .site .t1{font-size:18px;font-weight:700;letter-spacing:-0.02em;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}\n.ov .l .site .t2{font-size:11px;color:#94a3b8;font-family:monospace}\n.ov .chips{display:flex;gap:6px;flex-wrap:wrap}\n.ov .chip{font-size:10px;padding:3px 8px;border-radius:10px;letter-spacing:.04em;text-transform:uppercase;font-weight:700}\n.ov .chip.ok{background:#052e16;color:#4ade80}\n.ov .chip.warn{background:#2a1f00;color:#fbbf24}\n.ov .chip.bad{background:#3f1d1d;color:#fca5a5}\n.ov .chip.n{background:#1e293b;color:#94a3b8}\n.ov a.btn{display:inline-flex;align-items:center;gap:6px;padding:8px 14px;border-radius:6px;background:#2563eb;color:#fff;text-decoration:none;font-size:13px;font-weight:600;white-space:nowrap}\n.ov a.btn:hover{background:#1d4ed8}\n</style>\n<div class=\"ov\">\n  <div class=\"l\">\n    <div class=\"site\">\n      <div class=\"t1\">{{msg.payload.site_id || 'supervisor'}}</div>\n      <div class=\"t2\">{{msg.payload.n || 0}} tanks &middot; {{msg.payload.ts ? (msg.payload.ts | date:'HH:mm:ss') : '--:--:--'}}</div>\n    </div>\n    <div class=\"chips\">\n      <span class=\"chip\" ng-class=\"{ ok: fresh, warn: !fresh && msg.payload.ts, bad: !msg.payload.ts }\" ng-init=\"fresh = (msg.payload.ts && (Date.now() - msg.payload.ts) < 30000)\">{{fresh ? 'live' : (msg.payload.ts ? 'stale' : 'offline')}}</span>\n      <span class=\"chip\" ng-class=\"{ ok: msg.payload.calibration && msg.payload.calibration.calibrated_at, n: !msg.payload.calibration || !msg.payload.calibration.calibrated_at }\">{{msg.payload.calibration && msg.payload.calibration.calibrated_at ? 'calibrated' : 'uncalibrated'}}</span>\n    </div>\n  </div>\n  <a class=\"btn\" id=\"op-link\" href=\"#\" target=\"_blank\" rel=\"noopener\">Operator Console \u2197</a>\n</div>\n<script>\n(function(){\n  function apply(){\n    var a = document.getElementById('op-link');\n    if (!a) return setTimeout(apply, 100);\n    var h = location.hostname;\n    var m = h.match(/^p1880-(n-[a-z0-9-]+)-(.*)$/i);\n    a.href = m ? (location.protocol + '//p8080-' + m[1] + '-' + m[2] + '/') : (location.protocol + '//' + h + ':8080/');\n  }\n  setTimeout(apply, 0);\n})();\n</script>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 640,
    "y": 120,
    "wires": [[]]
  },

  {
    "id": "tpl-tank-cards",
    "type": "ui_template",
    "z": "thermal-tab",
    "group": "dash-group-tanks",
    "name": "Tank KPI grid",
    "order": 1,
    "width": 12,
    "height": 9,
    "format": "<style>\n.tg{display:grid;grid-template-columns:repeat(auto-fit,minmax(260px,1fr));gap:12px;padding:8px}\n.tc{background:#1c222b;border:1px solid #2a3240;border-radius:12px;padding:14px;color:#e6e6e6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;transition:border-color .2s}\n.tc.hi{border-color:#22c55e}\n.tc.lo{border-color:#f59e0b}\n.tc.al{border-color:#ef4444;box-shadow:0 0 0 1px #ef4444 inset}\n.tc h4{margin:0 0 10px 0;font-size:13px;display:flex;justify-content:space-between;align-items:center;gap:8px}\n.tc h4 .nm{font-weight:700;letter-spacing:-.01em}\n.tc h4 .med{font-size:10px;padding:2px 8px;border-radius:10px;text-transform:uppercase;letter-spacing:.04em;font-weight:700;background:#1e293b;color:#94a3b8}\n.tc h4 .med.water{background:#082f49;color:#38bdf8}\n.tc h4 .med.oil{background:#3b1d09;color:#fb923c}\n.tc .pri{font-size:34px;font-weight:700;letter-spacing:-0.03em;line-height:1}\n.tc .pri.hi{color:#4ade80}\n.tc .pri.lo{color:#fbbf24}\n.tc .pri.al{color:#f87171}\n.tc .sub{font-size:11px;color:#94a3b8;margin-top:4px;font-family:monospace}\n.tc .bar{height:6px;background:#0f1419;border-radius:3px;overflow:hidden;margin:10px 0 6px 0}\n.tc .bar .fill{height:100%;background:linear-gradient(90deg,#22c55e,#84cc16);transition:width .3s}\n.tc .row{display:flex;justify-content:space-between;font-size:11px;color:#9aa4b2;margin-top:3px;font-family:monospace}\n.tc .row .k{color:#6b7280}\n.tc .rate{display:flex;align-items:baseline;gap:6px;margin-top:10px;padding-top:10px;border-top:1px solid #1f2937;font-size:12px}\n.tc .rate .v{font-weight:700;font-size:15px}\n.tc .rate .v.up{color:#4ade80}\n.tc .rate .v.dn{color:#fbbf24}\n.tc .rate .v.st{color:#94a3b8}\n.tc .chip{display:inline-block;padding:1px 6px;border-radius:10px;font-size:10px;background:#0f1419;color:#9aa4b2;font-family:monospace}\n.tc .chip.hi{background:#052e16;color:#4ade80}\n.tc .chip.lo{background:#2a1f00;color:#fbbf24}\n.empty{padding:30px;text-align:center;color:#64748b;font-family:sans-serif}\n</style>\n<div class=\"tg\" ng-if=\"msg.payload && msg.payload.tanks && msg.payload.tanks.length\">\n  <div class=\"tc\"\n       ng-repeat=\"t in msg.payload.tanks track by (t.id || t.name || $index)\"\n       ng-class=\"{ hi: t.confidence==='high' && t.level_pct>=20 && t.level_pct<=90, lo: t.confidence!=='high', al: t.level_pct<20 || t.level_pct>90 }\">\n    <h4>\n      <span class=\"nm\">{{t.name || t.id}}</span>\n      <span class=\"med\" ng-class=\"t.medium\">{{t.medium || 'unknown'}}</span>\n    </h4>\n    <div class=\"pri\" ng-class=\"{ hi: t.confidence==='high' && t.level_pct>=20 && t.level_pct<=90, lo: t.confidence!=='high', al: t.level_pct<20 || t.level_pct>90 }\">\n      <span ng-if=\"t.reading && t.reading.level_ft !== undefined && t.reading.level_ft !== null\">{{t.reading.level_ft | number:2}} ft</span>\n      <span ng-if=\"!t.reading || t.reading.level_ft === undefined || t.reading.level_ft === null\">{{t.level_pct | number:1}}%</span>\n    </div>\n    <div class=\"sub\" ng-if=\"t.geometry && t.geometry.height_ft\">of {{t.geometry.height_ft | number:1}} ft &middot; \u2300 {{t.geometry.diameter_ft | number:1}} ft</div>\n    <div class=\"bar\"><div class=\"fill\" ng-style=\"{ width: (t.level_pct || 0) + '%' }\"></div></div>\n    <div class=\"row\"><span class=\"k\">level %</span><span>{{t.level_pct | number:1}}%</span></div>\n    <div class=\"row\" ng-if=\"t.reading && t.reading.volume_bbl !== undefined && t.reading.volume_bbl !== null\"><span class=\"k\">volume</span><span>{{t.reading.volume_bbl | number:0}} bbl</span></div>\n    <div class=\"row\" ng-if=\"t.reading && t.reading.ullage_ft !== undefined && t.reading.ullage_ft !== null\"><span class=\"k\">ullage</span><span>{{t.reading.ullage_ft | number:2}} ft</span></div>\n    <div class=\"row\"><span class=\"k\">temp avg</span><span>{{t.temp_avg | number:1}}\u00b0C</span></div>\n    <div class=\"row\"><span class=\"k\">gradient</span><span>{{t.gradient_peak | number:2}}</span></div>\n    <div class=\"row\"><span class=\"k\">confidence</span><span class=\"chip\" ng-class=\"{ hi: t.confidence==='high', lo: t.confidence!=='high' }\">{{t.confidence}}<span ng-if=\"t.medium_confidence !== undefined\"> &middot; med {{t.medium_confidence | number:2}}</span></span></div>\n    <div class=\"rate\" ng-if=\"t.reading && t.reading.fill_rate_bbl_h !== undefined && t.reading.fill_rate_bbl_h !== null\">\n      <span class=\"v\" ng-class=\"{ up: t.reading.fill_rate_bbl_h > 0.5, dn: t.reading.fill_rate_bbl_h < -0.5, st: t.reading.fill_rate_bbl_h >= -0.5 && t.reading.fill_rate_bbl_h <= 0.5 }\">\n        <span ng-if=\"t.reading.fill_rate_bbl_h > 0.5\">\u25b2</span><span ng-if=\"t.reading.fill_rate_bbl_h < -0.5\">\u25bc</span><span ng-if=\"t.reading.fill_rate_bbl_h >= -0.5 && t.reading.fill_rate_bbl_h <= 0.5\">\u2500</span>\n        {{t.reading.fill_rate_bbl_h | number:1}} bbl/h\n      </span>\n      <span style=\"color:#6b7280\" ng-if=\"t.reading.minutes_to_full !== undefined && t.reading.minutes_to_full !== null && t.reading.fill_rate_bbl_h > 0.5\">&middot; ~{{t.reading.minutes_to_full | number:0}} min to full</span>\n      <span style=\"color:#6b7280\" ng-if=\"t.reading.minutes_to_empty !== undefined && t.reading.minutes_to_empty !== null && t.reading.fill_rate_bbl_h < -0.5\">&middot; ~{{t.reading.minutes_to_empty | number:0}} min to empty</span>\n    </div>\n  </div>\n</div>\n<div class=\"empty\" ng-if=\"!msg.payload || !msg.payload.tanks || !msg.payload.tanks.length\">\n  Waiting for first payload from thermal analyzer\u2026\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 640,
    "y": 180,
    "wires": [[]]
  },

  {
    "id": "chart-level",
    "type": "ui_chart",
    "z": "thermal-tab",
    "name": "Level (24 h)",
    "group": "dash-group-trends",
    "order": 1,
    "width": 12,
    "height": 6,
    "label": "Level % (high-confidence only, 24 h)",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "waiting for high-confidence samples\u2026",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "24",
    "removeOlderPoints": "2000",
    "removeOlderUnit": "3600",
    "useOldStyle": false,
    "x": 640,
    "y": 260,
    "wires": [[]]
  },
  {
    "id": "chart-temp",
    "type": "ui_chart",
    "z": "thermal-tab",
    "name": "Temp (24 h)",
    "group": "dash-group-trends",
    "order": 2,
    "width": 12,
    "height": 5,
    "label": "Avg temperature (\u00b0C, 24 h)",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "waiting for data\u2026",
    "ymin": "",
    "ymax": "",
    "removeOlder": "24",
    "removeOlderPoints": "2000",
    "removeOlderUnit": "3600",
    "useOldStyle": false,
    "x": 640,
    "y": 320,
    "wires": [[]]
  },

  {
    "id": "alert-guard",
    "type": "function",
    "z": "thermal-tab",
    "name": "Alert guard",
    "func": "// Emit an alert only when level leaves the band AND confidence is high AND state changes.\nconst LOW = 20;\nconst HIGH = 90;\nconst COOLDOWN_MS = 60_000;\n\nconst t = msg._tank || {};\nif (t.confidence !== 'high') return null;\n\nconst id = t.id || msg.topic;\nconst state = t.level_pct < LOW ? 'LOW' : (t.level_pct > HIGH ? 'HIGH' : 'OK');\n\nconst mem = context.get('mem') || {};\nconst prev = mem[id] || { state: 'OK', ts: 0 };\nconst now = Date.now();\n\nconst isOut = state !== 'OK';\nconst transitioned = state !== prev.state;\nconst stale = isOut && (now - prev.ts) > COOLDOWN_MS;\n\nmem[id] = { state, ts: (isOut && (transitioned || stale)) ? now : prev.ts };\ncontext.set('mem', mem);\n\nlet out = null;\nif (!isOut) {\n    if (prev.state !== 'OK') {\n        out = {\n            topic: 'Tank recovered',\n            payload: (t.name || id) + ' back in band (' + t.level_pct.toFixed(1) + '%)',\n            _tank: t,\n            _state: 'OK'\n        };\n    }\n} else if (transitioned || stale) {\n    out = {\n        topic: 'Tank ' + state,\n        payload: (t.name || id) + ' level ' + t.level_pct.toFixed(1) + '% (' + state + ')',\n        _tank: t,\n        _state: state\n    };\n}\n\nif (out) {\n    // Persist into bounded history\n    const hist = flow.get('alerts') || [];\n    hist.push({ ts: now, state: out._state, payload: out.payload, topic: out.topic });\n    if (hist.length > 200) hist.splice(0, hist.length - 200);\n    flow.set('alerts', hist);\n    out.payload_history = hist;\n}\nreturn out;",
    "outputs": 1,
    "x": 370,
    "y": 400,
    "wires": [["toast-alert", "tpl-alerts", "debug-alert"]]
  },
  {
    "id": "toast-alert",
    "type": "ui_toast",
    "z": "thermal-tab",
    "position": "top right",
    "displayTime": "6",
    "highlight": "#ef4444",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "className": "",
    "topic": "",
    "name": "Alert toast",
    "x": 600,
    "y": 360,
    "wires": []
  },
  {
    "id": "debug-alert",
    "type": "debug",
    "z": "thermal-tab",
    "name": "Alert debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 600,
    "y": 440,
    "wires": []
  },
  {
    "id": "tpl-alerts",
    "type": "ui_template",
    "z": "thermal-tab",
    "group": "dash-group-alerts",
    "name": "Alert feed",
    "order": 1,
    "width": 12,
    "height": 5,
    "format": "<style>\n.al{height:100%;overflow-y:auto;padding:6px;font-family:monospace;font-size:12px;color:#e6e6e6}\n.al .row{display:grid;grid-template-columns:88px 70px 1fr;gap:10px;padding:6px 8px;border-bottom:1px solid #1f2937;align-items:center}\n.al .ts{color:#6b7280}\n.al .tag{padding:2px 8px;border-radius:10px;text-align:center;font-weight:700;font-size:10px;letter-spacing:.04em}\n.al .tag.LOW{background:#2a1f00;color:#fbbf24}\n.al .tag.HIGH{background:#3f1d1d;color:#fca5a5}\n.al .tag.OK{background:#052e16;color:#4ade80}\n.al .msg{color:#cbd5e1}\n.al .empty{color:#64748b;text-align:center;padding:14px;font-family:sans-serif}\n</style>\n<div class=\"al\">\n  <div class=\"row\" ng-repeat=\"a in alerts | orderBy:'-ts' | limitTo: 40 track by $index\">\n    <span class=\"ts\">{{a.ts | date:'HH:mm:ss'}}</span>\n    <span class=\"tag\" ng-class=\"a.state\">{{a.state}}</span>\n    <span class=\"msg\">{{a.payload}}</span>\n  </div>\n  <div class=\"empty\" ng-if=\"!alerts || !alerts.length\">no alerts yet \u2014 thresholds are 20% / 90%</div>\n</div>\n<script>\n(function(scope){\n  scope.alerts = scope.alerts || [];\n  scope.$watch('msg', function(m){\n    if (!m) return;\n    if (Array.isArray(m.payload_history)) {\n      // alert-guard sent the canonical history alongside the event\n      scope.alerts = m.payload_history.slice();\n    } else if (m.payload) {\n      scope.alerts.push({ ts: Date.now(), state: m._state || 'OK', payload: m.payload });\n      if (scope.alerts.length > 200) scope.alerts.splice(0, scope.alerts.length - 200);\n    }\n  });\n})(scope);\n</script>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 600,
    "y": 500,
    "wires": [[]]
  },

  {
    "id": "events-text",
    "type": "ui_text",
    "z": "thermal-tab",
    "group": "dash-group-events",
    "order": 1,
    "width": 12,
    "height": 1,
    "name": "",
    "label": "last ingest",
    "format": "{{msg.payload.n}} tank(s) @ {{msg.payload.ts}}",
    "layout": "row-spread",
    "className": "",
    "x": 950,
    "y": 120,
    "wires": []
  }
]
