node-red/tank-dashboard-flow.json
[
  {
    "id": "thermal-tab",
    "type": "tab",
    "label": "Thermal Tanks",
    "disabled": false,
    "info": "Thermal tank level dashboard — POST endpoint /thermal/ingest\n\nLevel chart only accepts samples with confidence==='high'. Set stream subdomain in the 'MJPEG iframe' node for the cross-device preview.\n"
  },
  {
    "id": "dash-tab",
    "type": "ui_tab",
    "name": "Thermal Tanks",
    "icon": "opacity",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "dash-group-levels",
    "type": "ui_group",
    "name": "Levels",
    "tab": "dash-tab",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dash-group-stream",
    "type": "ui_group",
    "name": "Live Stream",
    "tab": "dash-tab",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dash-group-events",
    "type": "ui_group",
    "name": "Events",
    "tab": "dash-tab",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": true
  },
  {
    "id": "http-ingest",
    "type": "http in",
    "z": "thermal-tab",
    "name": "POST /thermal/ingest",
    "url": "/thermal/ingest",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 100,
    "wires": [["ingest-process"]]
  },
  {
    "id": "http-response",
    "type": "http response",
    "z": "thermal-tab",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 60,
    "wires": []
  },
  {
    "id": "ingest-process",
    "type": "function",
    "z": "thermal-tab",
    "name": "Process ingest",
    "func": "const p = msg.payload;\nif (!p || !Array.isArray(p.tanks)) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'expected {ts, tanks:[...]}' };\n    return [null, null, null, msg];\n}\nflow.set('latest', p);\n\n// Build three fan-outs:\n//   [0] gauge msgs    -> always current value per tank\n//   [1] chart msgs    -> ONLY when confidence === 'high'\n//   [2] temp msgs     -> always (temperature is useful even with low confidence)\nconst gauges = [];\nconst charts = [];\nconst temps = [];\nfor (const t of p.tanks) {\n    const topic = t.name || t.id;\n    gauges.push({ topic, payload: t.level_pct, _tank: t });\n    if (t.confidence === 'high') {\n        charts.push({ topic, payload: t.level_pct, _tank: t });\n    }\n    if (typeof t.temp_avg === 'number') {\n        temps.push({ topic, payload: t.temp_avg, _tank: t });\n    }\n}\n\nmsg.statusCode = 200;\nmsg.payload = { ok: true, n: p.tanks.length };\nreturn [gauges, charts, temps, msg];",
    "outputs": 4,
    "x": 370,
    "y": 100,
    "wires": [
      ["gauge-level", "status-cards"],
      ["chart-level"],
      ["chart-temp"],
      ["http-response"]
    ]
  },
  {
    "id": "gauge-level",
    "type": "ui_gauge",
    "z": "thermal-tab",
    "name": "",
    "group": "dash-group-levels",
    "order": 1,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "{{msg.topic}}",
    "label": "%",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": "100",
    "colors": ["#ca3838", "#e6e600", "#00b500"],
    "seg1": "25",
    "seg2": "75",
    "x": 620,
    "y": 140,
    "wires": []
  },
  {
    "id": "chart-level",
    "type": "ui_chart",
    "z": "thermal-tab",
    "name": "Level history",
    "group": "dash-group-levels",
    "order": 2,
    "width": 12,
    "height": 6,
    "label": "Level % (high-confidence only)",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "waiting for high-confidence samples…",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "1",
    "removeOlderPoints": "2000",
    "removeOlderUnit": "3600",
    "useOldStyle": false,
    "x": 620,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "chart-temp",
    "type": "ui_chart",
    "z": "thermal-tab",
    "name": "Avg temp",
    "group": "dash-group-levels",
    "order": 3,
    "width": 12,
    "height": 4,
    "label": "Avg temperature (\u00b0C)",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "waiting for data…",
    "ymin": "",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "2000",
    "removeOlderUnit": "3600",
    "useOldStyle": false,
    "x": 620,
    "y": 260,
    "wires": [[]]
  },
  {
    "id": "status-cards",
    "type": "ui_template",
    "z": "thermal-tab",
    "group": "dash-group-levels",
    "name": "Tank status cards",
    "order": 4,
    "width": 12,
    "height": 4,
    "format": "<style>\n.tg{display:grid;grid-template-columns:repeat(auto-fit,minmax(180px,1fr));gap:8px;padding:6px}\n.tc{background:#1c222b;border:1px solid #2a3240;border-radius:8px;padding:10px;color:#e6e6e6;font-family:sans-serif}\n.tc h4{margin:0 0 4px 0;font-size:13px}\n.tc .lv{font-size:26px;font-weight:700}\n.tc .hi{color:#22c55e}\n.tc .lo{color:#f59e0b}\n.tc .row{display:flex;justify-content:space-between;font-size:11px;color:#9aa4b2;margin-top:6px}\n</style>\n<div class=\"tg\">\n  <div class=\"tc\" ng-repeat=\"t in msg._tank ? [msg._tank] : []\">\n    <h4>{{t.name || t.id}} <span style=\"font-size:10px;color:#6b7280\">({{t.medium}})</span></h4>\n    <div class=\"lv\" ng-class=\"t.confidence === 'high' ? 'hi' : 'lo'\">{{t.level_pct | number:1}}%</div>\n    <div class=\"row\"><span>min {{t.temp_min | number:1}}\u00b0C</span><span>avg {{t.temp_avg | number:1}}\u00b0C</span><span>max {{t.temp_max | number:1}}\u00b0C</span></div>\n    <div class=\"row\"><span>gradient {{t.gradient_peak | number:2}}</span><span>{{t.confidence}}</span></div>\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 620,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "stream-template",
    "type": "ui_template",
    "z": "thermal-tab",
    "group": "dash-group-stream",
    "name": "Dashboard iframe",
    "order": 1,
    "width": 12,
    "height": 12,
    "format": "<!--\n  EDIT ONCE PER DEPLOYMENT\n  -----------------------\n  STREAM_URL should point at the exposed thermal dashboard.\n  If you're on the SAME device as Node-RED, keep {{location.hostname}}.\n  For cross-device (e.g. Node-RED on N-1029, camera on N-1065) set the\n  subdomain that the portal has exposed for port 8080, for example:\n    https://p8080-n-1065-d.datadesng.com\n-->\n<script>\n  (function(){\n    var STREAM_URL = (function(){\n      try {\n        // Heuristic: if hostname matches p1880-n-XXXX-*, rewrite the port.\n        var h = location.hostname;\n        var m = h.match(/^p1880-(n-[a-z0-9-]+)-(.*)$/i);\n        if (m) return location.protocol + '//p8080-' + m[1] + '-' + m[2];\n        return location.protocol + '//' + h + ':8080';\n      } catch(e){ return ''; }\n    })();\n    window.addEventListener('load', function(){\n      var f = document.getElementById('thermal-frame');\n      if (f) f.src = STREAM_URL + '/';\n      var a = document.getElementById('thermal-link');\n      if (a) { a.href = STREAM_URL + '/'; a.textContent = STREAM_URL; }\n    });\n  })();\n</script>\n<div style=\"width:100%;height:100%;display:flex;flex-direction:column;gap:4px\">\n  <div style=\"font-size:11px;color:#94a3b8\">Stream \u2192 <a id=\"thermal-link\" target=\"_blank\" rel=\"noopener\" style=\"color:#38bdf8\">loading\u2026</a></div>\n  <iframe id=\"thermal-frame\" style=\"flex:1;border:1px solid #334155;border-radius:6px;background:#000\"></iframe>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 150,
    "y": 320,
    "wires": [[]]
  }
]
