node-red/tank-dashboard-flow.json
[
  {
    "id": "thermal-tab",
    "type": "tab",
    "label": "Thermal Tanks",
    "disabled": false,
    "info": "Thermal tank level dashboard — POST endpoint /thermal/ingest"
  },
  {
    "id": "dash-tab",
    "type": "ui_tab",
    "name": "Thermal Tanks",
    "icon": "opacity",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "dash-group-levels",
    "type": "ui_group",
    "name": "Levels",
    "tab": "dash-tab",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dash-group-stream",
    "type": "ui_group",
    "name": "Live Stream",
    "tab": "dash-tab",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "http-ingest",
    "type": "http in",
    "z": "thermal-tab",
    "name": "POST /thermal/ingest",
    "url": "/thermal/ingest",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 100,
    "wires": [["ingest-process"]]
  },
  {
    "id": "http-response",
    "type": "http response",
    "z": "thermal-tab",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 60,
    "wires": []
  },
  {
    "id": "ingest-process",
    "type": "function",
    "z": "thermal-tab",
    "name": "Process ingest",
    "func": "const p = msg.payload;\nif (!p || !Array.isArray(p.tanks)) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'expected {ts, tanks:[...]}' };\n    return [null, msg];\n}\nflow.set('latest', p);\n\n// Fan out per-tank messages\nconst out = [];\nfor (const t of p.tanks) {\n    out.push({\n        topic: t.name || t.id,\n        payload: t.level_pct,\n        _tank: t\n    });\n}\n\nmsg.statusCode = 200;\nmsg.payload = { ok: true, n: p.tanks.length };\nreturn [out, msg];",
    "outputs": 2,
    "x": 370,
    "y": 100,
    "wires": [
      ["gauge-level", "chart-level", "chart-temp-split"],
      ["http-response"]
    ]
  },
  {
    "id": "gauge-level",
    "type": "ui_gauge",
    "z": "thermal-tab",
    "name": "",
    "group": "dash-group-levels",
    "order": 1,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "{{msg.topic}}",
    "label": "%",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": "100",
    "colors": ["#ca3838", "#e6e600", "#00b500"],
    "seg1": "25",
    "seg2": "75",
    "x": 620,
    "y": 140,
    "wires": []
  },
  {
    "id": "chart-level",
    "type": "ui_chart",
    "z": "thermal-tab",
    "name": "Level history",
    "group": "dash-group-levels",
    "order": 2,
    "width": 12,
    "height": 6,
    "label": "Level % over time",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "waiting for data...",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "1",
    "removeOlderPoints": "2000",
    "removeOlderUnit": "3600",
    "useOldStyle": false,
    "x": 620,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "chart-temp-split",
    "type": "function",
    "z": "thermal-tab",
    "name": "temp_avg \u2192 chart",
    "func": "if (msg._tank) {\n    return { topic: msg.topic, payload: msg._tank.temp_avg };\n}\nreturn null;",
    "outputs": 1,
    "x": 620,
    "y": 260,
    "wires": [["chart-temp"]]
  },
  {
    "id": "chart-temp",
    "type": "ui_chart",
    "z": "thermal-tab",
    "name": "Avg temp",
    "group": "dash-group-levels",
    "order": 3,
    "width": 12,
    "height": 4,
    "label": "Avg temperature (\u00b0C)",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "waiting for data...",
    "ymin": "",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "2000",
    "removeOlderUnit": "3600",
    "useOldStyle": false,
    "x": 850,
    "y": 260,
    "wires": [[]]
  },
  {
    "id": "stream-template",
    "type": "ui_template",
    "z": "thermal-tab",
    "group": "dash-group-stream",
    "name": "MJPEG iframe",
    "order": 1,
    "width": 12,
    "height": 10,
    "format": "<div style=\"text-align:center\">\n  <img src=\"http://{{location.hostname}}:8080/stream.mjpg\" style=\"max-width:100%;image-rendering:pixelated;border:1px solid #444\"/>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 150,
    "y": 320,
    "wires": [[]]
  }
]
